[user]
name = {{ .name | quote }}
email = {{ .email_personal | quote }}

[git]
private-commits = "description(glob:'private:*') | bookmarks('merge')"

[templates]
git_push_bookmark = '"{{ .github_personal }}_jj_" ++ change_id.short()'

[colors]
"diff removed token" = { fg = "red", underline = false }
"diff added token" = { fg = "green", underline = false }

[revset-aliases]
"immutable_heads()" = "builtin_immutable_heads() | (trunk().. & ~mine())"

[aliases]
l = ["log", "-r", "(trunk()..@):: | (trunk()..@)-"]
refresh = ["rebase", "-s", "roots(trunk()..@)", "-d", "trunk()"]
insert = ["rebase", "-r", "@", "--before", "merge", "--after", "trunk()"]
bdiff = ["diff", "-r", "(trunk()..@)::"]

[ui]
default-command = ["log"]
diff-formatter = ":git"

[[--scope]]
--when.repositories = ["~/Klaviyo", "~/.klaviyocli"]
[--scope.user]
email = {{ .email_work | quote }}
[--scope.templates]
git_push_bookmark = '"2025_{{ .github_work }}_jj_" ++ change_id.short()'
