[user]
name = {{ .name | quote }}
email = {{ .email_personal | quote }}

[git]
push-bookmark-prefix = "{{ .github_personal }}_jj_"
private-commits = "description(glob:'private:*') | bookmarks('merge')"

[colors]
"diff removed token" = { fg = "red", underline = false }
"diff added token" = { fg = "green", underline = false }

[revset-aliases]
"stack()" = "trunk()..@"
"immutable_heads()" = "builtin_immutable_heads() | (trunk().. & ~mine())"

[ui]
default-command = ["log"]
diff.format = "git"

[[--scope]]
--when.repositories = ["~/Klaviyo", "~/.klaviyocli"]
[--scope.user]
email = {{ .email_work | quote }}
[--scope.git]
push-bookmark-prefix = "2025_{{ .github_work }}_jj_"
