data.location={{ .chezmoi.homeDir }}/.task
news.version=3.4.1

# must be specified bc taskrc not in default ~/.taskrc location
data.location=~/.local/share/task
hooks.location=~/.config/task/hooks

include solarized-dark-256.theme

report.list.columns=id,start.age,depends.indicator,priority,project,tags,recur.indicator,scheduled.countdown,due,until.remaining,description.count
report.list.labels=id,active,d,p,project,tags,r,sch,due,until,description

report.next.columns=id,start.age,depends,priority,project,tags,recur,scheduled.countdown,due.relative,until.remaining,description
report.next.labels=id,active,deps,p,project,tag,recur,s,due,until,description

sync.server.url={{ .task_url }}
sync.server.client_id={{ .task_client_id }}
sync.encryption_secret={{ .task_encryption_secret }}
