{{- if eq .hosttype "devterm" }}
["ttyscheme"]
    type = "git-repo"
    url = "https://github.com/kolunmi/ttyscheme.git"
    refreshPeriod = "168h"
{{- else }}
[".config/base16-shell"]
    type = "git-repo"
    url = "https://github.com/chriskempson/base16-shell.git"
    refreshPeriod = "168h"
{{- end }}
[".config/zellij/plugins/room.wasm"]
    type = "file"
    url = "https://github.com/rvcas/room/releases/latest/download/room.wasm"
    refreshPeriod = "168h"
