[include]
    path = /opt/local/share/git-delta/themes.gitconfig
[user]
    name = {{ .name }}
    email = {{ .email_personal }}
[core]
    editor = nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    features = chameleon
    navigate = true
    light = false
    side-by-side = true
    true-color = always
    colorMoved = default
    syntax-theme = base16
[diff]
    colorMoved = default
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[gc]
    auto = 1
[merge]
    summary = true
    conflictstyle = diff3
    prompt = false
[alias]
    # http://stackoverflow.com/a/9074343
    lg1 = log \
        --graph \
        --abbrev-commit \
        --decorate \
        --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' \
        --all
    lg2 = log \
        --graph \
        --abbrev-commit \
        --decorate \
        --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' \
        --all
    lg = !"git lg1"
    # https://gist.github.com/mwhite/6887990
    a = add
    c = commit --verbose
    ca = commit -a --verbose
    d = diff
    s = status -s
    sw = switch
    swc = switch -c
    # list branches sorted by last modified
    b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"
[pull]
    rebase = true
[init]
    defaultBranch = main

[includeIf "gitdir:~/Klaviyo/"]
    path = ~/.gitconfig-work
