{{ if eq .chezmoi.hostname "devterm" -}}
#!/bin/sh
sudo apt install \
  brightnessctl \
  git \
  libncurses-dev \
  libssl-dev \
  lynx \
  ripgrep \
  tmux \
  tree \
  wget \
  zsh \
  -y
{{ else if eq .chezmoi.hostname "rattusrattus" -}}
#!/bin/sh
sudo port install \
  colima \
  curl \
  docker \
  docker-compose \
  git \
  helix \
  ripgrep \
  tmux \
  tree \
  wget \
  zellij \
  zsh
{{ else if eq .chezmoi.hostname "yersiniapestis" -}}
#!/bin/sh
sudo apt update
sudo apt install \
  clang \
  ripgrep \
  tmux \
  tree \
  wget \
  -y

curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs -o /tmp/rustup.sh && chmod u+x /tmp/rustup.sh && /tmp/rustup.sh -y && rustup update stable
git clone https://github.com/helix-editor/helix.git --branch 23.05 $HOME/.src/helix
export PATH=$PATH:$HOME/.cargo/bin && cd $HOME/.src/helix && cargo install --path helix-term --locked && hx --grammar fetch && hx --grammar build

# git clone ssh://git@pingo.thermokar.st/gwar $HOME/.src/gwar && cd $HOME/.src/gwar && cargo build --release && cp target/release/gwar ~/bin
{{ end }}
