#!/bin/sh

set -e

{{ if eq .hosttype "devterm" -}}
sudo apt install \
  brightnessctl \
  git \
  libncurses-dev \
  libssl-dev \
  lynx \
  ripgrep \
  tmux \
  tree \
  wget \
  zsh \
  -y

{{ else if eq .hosttype "personal" -}}
sudo port install \
  cmus \
  curl \
  direnv \
  fzf \
  git \
  git-delta \
  helix \
  jujutsu \
  kitty \
  ripgrep \
  tmux \
  tree \
  watch \
  wget \
  xz \
  zellij \
  yazi \
  zk \
  zsh

{{ else if eq .hosttype "wsl" -}}
sudo apt update
sudo apt install \
  build-essential \
  clang \
  libssl-dev \
  pkg-config \
  ripgrep \
  tmux \
  tree \
  wget \
  yazi \
  -y
{{ end }}

{{ if eq .hosttype "work" -}}
  {{ join .chezmoi.sourceDir "encrypted_work_packages.age" | include | decrypt -}}
{{ end }}
