{{ if eq .chezmoi.hostname "devterm" -}}
#!/bin/sh
sudo apt install \
  brightnessctl \
  git \
  libncurses-dev \
  libssl-dev \
  lynx \
  ripgrep \
  tmux \
  tree \
  wget \
  zsh \
  -y
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
sudo port install \
  colima \
  curl \
  docker \
  docker-compose \
  git \
  helix \
  ripgrep \
  tmux \
  tree \
  wget \
  zellij \
  zsh
{{ end }}
