{{ if eq .chezmoi.hostname "devterm" -}}
#!/bin/sh
sudo apt install \
  brightnessctl \
  git \
  libncurses-dev \
  libssl-dev \
  lynx \
  ripgrep \
  tmux \
  tree \
  zsh \
  -y
{{ end }}
{{ if eq .chezmoi.hostname "rattusrattus" -}}
#!/bin/sh
sudo port install \
  git \
  helix \
  ripgrep \
  tmux \
  tree \
  zellij \
  zsh
{{ end }}
