{{- if eq .hosttype "work" -}}
{{ join .chezmoi.sourceDir "private_dot_ssh/encrypted_id_rsa_work.pub.age" | include | decrypt }}
{{- else -}}
{{ join .chezmoi.sourceDir "private_dot_ssh/encrypted_id_rsa_personal.pub.age" | include | decrypt }}
{{- end -}}
