[user]
name = {{ .name | quote }}
email = {{ .email_personal | quote }}

[git]
push-bookmark-prefix = "{{ .github_personal }}_jj_"
private-commits = "description(glob:'private:*') | bookmarks('merge')"

[revset-aliases]
"stack()" = "trunk()..@"
"immutable_heads()" = "builtin_immutable_heads() | (trunk().. & ~mine())"

[ui]
default-command = ["log"]
pager = "delta"

[ui.diff]
format = "git"

[merge-tools.delta]
diff-args = [
  "--color-only",
  "--features", "chameleon",
  "--navigate",
  "--dark",
  "--side-by-side",
  "--true-color", "always",
  "--syntax-theme", "base16",
  "$left", "$right",
]

[[--scope]]
--when.repositories = ["~/Klaviyo"]
[--scope.user]
email = {{ .email_work | quote }}
[--scope.git]
push-bookmark-prefix = "2025_{{ .github_work }}_jj_"
