[user]
name = {{ .name | quote }}
email = {{ .email | quote }}

[git]
push-bookmark-prefix = "thermokarst/jj-"

[revset-aliases]
'stack()' = 'main..@'

[ui]
default-command = ["log"]
pager = "delta"

[ui.diff]
format = "git"

[merge-tools.delta]
diff-args = [
  "--color-only",
  "--features", "chameleon",
  "--navigate",
  "--dark",
  "--side-by-side",
  "--true-color", "always",
  "--syntax-theme", "base16",
  "$left", "$right",
]
