{
  "agent": {
    "default_profile": "write",
    "always_allow_tool_actions": true,
    "default_model": {
      {{- if eq .hosttype "work" }}
      "provider": "zed.dev",
      {{- else }}
      "provider": "zed.dev",
      {{- end }}
      "model": "claude-sonnet-4"
    }
  },
  "ui_font_size": 15,
  "ui_font_family": "Iosevka Term",
  "buffer_font_family": "Iosevka Term",
  "buffer_font_size": 15,
  "helix_mode": true,
  "features": {
    {{- if eq .hosttype "work" }}
    "edit_prediction_provider": "copilot"
    {{- else }}
    "edit_prediction_provider": "zed"
    {{- end }}
  },
  "theme": {
    "mode": "dark",
    "light": "One Light",
    "dark": "Catppuccin Mocha"
  }
}
